<nav class="d-flex justify-content-between navbar fixed-top bg-dark bg-gradient">
    <a class="navbar-brand text-light fw-normal mx-3 d-none d-md-block" href="{{base_dir}}admin/dashboard">
        CMS | <span class="text-white-50">Panel administratora</span>
    </a>
    <div class="dropdown d-block d-md-none">
        <button class="d-flex align-items-center border-0 text-white bg-transparent dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-light fs-5 fw-normal ms-3 me-1">
                CMS | <span class="text-white-50">Panel restauratora</span>
            </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-start text-small dropdown-menu-dark">
            <li><a class="dropdown-item d-flex align-items-center" href="{{base_dir}}admin/dashboard">
                <span class="material-symbols-outlined me-2 fs-5">home</span>Panel główny</a>
            </li>
            <li><a class="dropdown-item d-flex align-items-center" href="{{base_dir}}admin/pending-restaurants">
                <span class="material-symbols-outlined me-2 fs-5">food_bank</span>Oczekujące restauracje
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex align-items-center" href="{{base_dir}}">
                <span class="material-symbols-outlined me-2 fs-5">door_open</span>Strona główna
            </a></li>
            <li><button class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#prepare-logout-modal">
                <span class="material-symbols-outlined me-2 fs-5">logout</span>Wyloguj
            </button></li>
        </ul>
    </div>
    <div class="d-flex flex-row-reverse">
    <div class="dropdown">
        <button class="d-flex align-items-center border-0 text-white bg-transparent dropdown-toggle me-4"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{base_dir}}public/{{logged_user.user_profile_image}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <span class="mx-1 d-none d-sm-block">{{logged_user.user_full_name}}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end text-small dropdown-menu-dark">
            <li><a class="dropdown-item d-flex align-items-center" href="{{base_dir}}admin/profile">
                <span class="material-symbols-outlined me-2 fs-5">person</span>Profil
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center" href="{{base_dir}}admin/settings">
                <span class="material-symbols-outlined me-2 fs-5">settings</span>Ustawienia
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex align-items-center" href="{{base_dir}}">
                <span class="material-symbols-outlined me-2 fs-5">door_open</span>Strona główna
            </a></li>
            <li><button class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#prepare-logout-modal">
                <span class="material-symbols-outlined me-2 fs-5">logout</span>Wyloguj
            </button></li>
        </ul>
    </div>
    <div class="dropdown mt-1">
        <button class="d-flex align-items-center border-0 text-white bg-transparent me-4" data-bs-toggle="dropdown"
            aria-expanded="false">
            <h5><i class="bi bi-bell"></i></h5>
            <span class="mx-1 d-none d-sm-block"></span>
        </button>
        <ul class="nav nav-pills mr-auto justify-content-center text-small">
            <li class="nav-item dropdown-menu-lg-start">
                <ul class="dropdown-menu p-1">
                    <li class="notification-box">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-3 text-center">
                                <img src="{{base_dir}}public/{{logged_user.user_profile_image}}" alt="" width="32"
                                    height="32" class="rounded-circle me-2">
                            </div>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <strong class="text-info">David John</strong>
                                <div>
                                    Lorem ipsum dolor sit amet, consectetur
                                </div>
                                <small class="text-warning">21.11.2022, 14:02</small>
                            </div>
                        </div>
                    </li>
                    <li class="notification-box">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-3 text-center">
                                <img src="{{base_dir}}public/{{logged_user.user_profile_image}}" alt="" width="32"
                                    height="32" class="rounded-circle me-2">
                            </div>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <strong class="text-info">David John</strong>
                                <div>
                                    Lorem ipsum dolor sit amet, consectetur
                                </div>
                                <small class="text-warning">25.11.2021, 11:40</small>
                            </div>
                        </div>
                    </li>
                    <li class="notification-box">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-3 text-center">
                                <img src="{{base_dir}}public/{{logged_user.user_profile_image}}" alt="" width="32"
                                    height="32" class="rounded-circle me-2">
                            </div>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <strong class="text-info">David John</strong>
                                <div>
                                    Lorem ipsum dolor sit amet, consectetur
                                </div>
                                <small class="text-warning">17.11.2022, 11:00</small>
                            </div>
                        </div>
                    </li>
            </li>        
        </ul>
    </div>
    </div>
</div>
</nav>
<div class="container-fluid d-flex flex-column flex-fill">
    <div class="row flex-fill flex-nowrap">
        <div class="col-2 d-none d-xl-block left-nav-container">
            <nav class="sticky-top panel-left-nav">
                <div class="border-top my-3"></div>
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a href="{{base_dir}}admin/dashboard"
                            class="btn btn-hover-dark d-inline-flex align-items-center rounded border-0 w-100 text-start lh-sm">
                            <span class="material-symbols-outlined me-2 fs-5">home</span>Panel główny
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="{{base_dir}}admin/pending-restaurants"
                            class="btn btn-hover-dark d-inline-flex align-items-center rounded border-0 w-100 text-start lh-sm">
                            <span class="material-symbols-outlined me-2 fs-5">food_bank</span>Oczekujące restauracje
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-hover-dark d-inline-flex align-items-center rounded border-0 collapsed w-100"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            <i class="bi bi-chevron-right me-2 chewron-icon smooth-transition"></i>Moje konto
                        </button>
                        <ul class="collapse ms-4 mt-1 btn-toggle-nav list-unstyled fw-normal pb-1 small" id="account-collapse">
                            <li class="mb-2">
                                <a href="{{base_dir}}admin/profile" 
                                    class="link-dark d-inline-flex align-items-center py-1 px-3 text-decoration-none rounded btn-hover-dark w-100">
                                    <span class="material-symbols-outlined me-2 fs-5">person</span>Profil
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="{{base_dir}}admin/settings" 
                                    class="link-dark d-inline-flex align-items-center py-1 px-3 text-decoration-none rounded btn-hover-dark w-100">
                                    <span class="material-symbols-outlined me-2 fs-5">settings</span>Ustawienia
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mb-2">
                        <a href="{{base_dir}}" class="btn btn-hover-dark d-inline-flex align-items-center rounded border-0 w-100">
                            <span class="material-symbols-outlined me-2 fs-5">door_open</span>Strona główna
                        </a>
                    </li>
                    <li class="mb-2">
                        <button class="btn btn-outline-primary d-inline-flex align-items-center rounded w-100" data-bs-toggle="modal"
                            data-bs-target="#prepare-logout-modal">
                            <span class="material-symbols-outlined me-2 fs-5">logout</span>Wyloguj
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-fixed-panel-nav d-none d-md-block d-xl-none">
            <nav class="sticky-top panel-left-nav">
                <ul class="list-unstyled">
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a href="{{base_dir}}admin/dashboard" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Panel główny"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm d-flex align-items-center">
                            <span class="material-symbols-outlined fs-5">home</span>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="{{base_dir}}admin/pending-restaurants" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Oczekujące restauracje"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm d-flex align-items-center">
                            <span class="material-symbols-outlined fs-5">food_bank</span>
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a href="{{base_dir}}admin/profile" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Profil"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm">
                            <span class="material-symbols-outlined fs-5">person</span>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="{{base_dir}}admin/settings" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Ustawienia"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm">
                            <span class="material-symbols-outlined fs-5">settings</span>
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a href="{{base_dir}}" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Strona główna"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm mb-3">
                            <span class="material-symbols-outlined fs-5">door_open</span>
                        </a>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-outline-primary text-center rounded border-0 w-100 text-start lh-sm mb-3"
                            data-bs-toggle="modal" data-bs-target="#prepare-logout-modal">
                            <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Wyloguj">
                                <span class="material-symbols-outlined fs-5">logout</span>
                            </span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col pt-5 px-0 mt-5 mh-100 shadow d-flex flex-column justify-content-between bg-white">
            <main class="px-3 px-sm-5">
                {{{ embed_rendering_section }}}
            </main>
            {{> partials/cms-panel-footer-view.partial }}
        </div>
    </div>
</div>
{{> partials/perpare-logout-modal-view.partial }}
