<h2 class="text-secondary fw-normal mb-3">Panel główny</h2>
<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Panel główny</li>
    </ol>
</nav>
<div class="d-flex flex-column mb-3 justify-content-center align-items-center">
    <div class="row mt-5">
        <div class="col-lg-8 mb-5">
            <canvas id="restaurantDashbaordChart"></canvas>
        </div>
        <div class="d-flex flex-column col-lg-4 justify-content-center align-items-center">
            <a href="{{base_dir}}restaurant/panel/orders" class="card mb-3 text-decoration-none">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <i class="bi bi-cart-check text-primary color-gradient icon-size"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body bg-primary bg-gradient">
                            <h5 class="card-title text text-light">Zamówienia</h5>
                            <p class="card-text mt-3 text-light">Przejdź do zamówień użytkowników.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{base_dir}}restaurant/panel/myrestaurants" class="card mb-3 text-decoration-none">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <i class="bi bi-shop text-primary color-gradient icon-size"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body bg-primary bg-gradient">
                            <h5 class="card-title text-light">Restauracje</h5>
                            <p class="card-text mt-3 text-light">Przejdź do restauracjami.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
