<html lang="pl">
<head>
  <title>Aktywacja konta.</title>
</head>
<body>
<b>Witaj {{ user_full_name }}</b>
<br>
<br>
Aby aktywować konto, kliknij <a href="{{ basic_server_path }}auth/activate-account?code={{ ota_token }}">tutaj</a>.
<hr>
<i>
  Link aktywacyjny będzie ważny przez 10 minut. Po tym czasie należy wygenerować nowy link.<br>
  Aby wygenerować nowy link, kliknij <a href="{{ basic_server_path }}{{ regenerate_link }}">tutaj</a>
</i>
<hr>
<i>Wiadomość wygenerowana automatycznie. Prosimy nie odpowiadać.</i>
</body>
</html>
