<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Odrzucenie usunięcia opinii.</title>
    </head>
    <body>
        <b>Witaj {{user_full_name}}</b>
        <br>
        <br>
        Z przykrością informujemy, że nie mogliśmy zaakceptować Twojej prośby o usunięcie opinii z ID #{{grade_id}}.
        <hr>
        <b>Powód odrzucenia zgłoszenia:</b>
        <br>
        {{delete_reason}}
        <hr>
        <i>Wiadomość wygenerowana automatycznie. Prosimy nie odpowiadać.</i>
    </body>
</html>
