<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Odzyskiwanie hasła.</title>
    </head>
    <body>
        <b>Witaj {{user_full_name}}</b>
        <br>
        <br>
        Aby zresetować hasło, kliknij <a href="{{basic_server_path}}auth/forgot-password/change?code={{ota_token}}">tutaj</a>.
        <hr>
        <i>
            Link aktywacyjny będzie ważny przez 10 minut. Po tym czasie należy wygenerować nowy link.<br>
            Aby wygenerować nowy link, kliknij <a href="{{basic_server_path}}auth/forgot-password/request">tutaj</a>
        </i>
        <hr>
        <i>Wiadomość wygenerowana automatycznie. Prosimy nie odpowiadać.</i>
    </body>
</html>
