<h2 class="text-secondary fw-normal mb-3">Zamówienia</h2>
<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{base_dir}}owner/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item active" aria-current="page">Zamówienia</li>
    </ol>
</nav>
<hr/>
{{> partials/dynamic-banner-view.partial}}
