<div class="container-fluid d-flex vh-100">
    <div class="row vw-100">
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center align-items-center">
            <h1 class="error-page-header">404</h1>
            <span class="fs-2 fw-light text-center text-secondary">Podana strona lub zasób nie istnieje.</span>
            <a href="{{base_dir}}" class="btn btn-primary btn-md py-2 px-4 mt-4">Powrót do strony głównej</a>
        </div>
        <div class="col-sm-6 px-0 error-page-image d-none d-sm-block"></div>
    </div>
</div>
