{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    <div class="row">
        <div class="col-lg-4 mb-4 d-flex">
            <div class="col-lg w-100">
                <div class="sticky-top panel-left-nav">
                    <p class="fs-5 mb-1 text-secondary">Znalezionych restauracji: <span class="text-dark">{{data.count_of_results}}</span></p>
                    <div class="d-none d-lg-block card mt-3 p-3">
                        {{#data.diff_filter_desktop}}
                        {{> partials/restaurants-filter-view.partial}}
                        {{/data.diff_filter_desktop}}
                    </div>
                    <div class="accordion mt-3 d-block d-lg-none">
                        <div class="accordion-item">
                            <h2 class="accordion-header d-block d-lg-none">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#filter-accordion" aria-expanded="false">
                                    Zaawansowane filtrowanie
                                </button>
                            </h2>
                            <div id="filter-accordion" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    {{#data.diff_filter_mobile}}
                                    {{> partials/restaurants-filter-view.partial}}
                                    {{/data.diff_filter_mobile}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            {{#banner.show_banner}}
            <div class="alert {{banner.banner_class}} mb-4 alert-dismissible fade show" role="alert">
                {{{banner.banner_message}}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/banner.show_banner}}
            <form class="col-sm-12 mb-3 d-flex justify-content-end" action="" method="get">
                <input type="search" name="search" placeholder="Wyszukaj po nazwie" class="form-control" value="{{data.search_text}}">
                <button type="submit" class="btn btn-primary btn-md ms-2 py-2"><i class="bi bi-search"></i></button>
            </form>
            {{#data.not_empty}}
            {{#data.res_list}}
            <div class="card mb-3">
                <div class="row h-100 mx-0">
                    <div class="col-lg-4 p-0 position-relative">
                        {{#banner_url}}
                        <div class="restaurant-banner-image gradient-left"
                            style="background-image: url({{base_dir}}public/{{banner_url}});"></div>
                        {{/banner_url}}
                        {{^banner_url}}
                        <div class="restaurant-banner-image gradient-left" 
                            style="background-image: url({{base_dir}}public/static/images/default-banner.jpg);"></div>
                        {{/banner_url}}
                        <div class="row mx-0 w-100 h-100 py-3 position-relative position-lg-absolute">
                            <div class="col-lg-auto">
                                {{#profile_url}}
                                <img src="{{base_dir}}public/{{profile_url}}" alt="" class="rounded" 
                                    width="80px" height="80px"/>
                                {{/profile_url}}
                                {{^profile_url}}
                                <img src="{{base_dir}}public/static/images/default-profile.jpg" alt="" 
                                    class="rounded" width="80px" height="80px"/>
                                {{/profile_url}}
                            </div>
                            <div class="col-lg-auto flex-grow-1 d-flex flex-column align-items-end justify-content-end">
                                {{#is_closed}}
                                <span class="badge text-bg-danger fw-normal mb-1">Zamknięte</span>
                                {{/is_closed}}
                                {{#delivery_free}}
                                <span class="badge text-bg-success fw-normal mb-1">Darmowa dostawa</span>
                                {{/delivery_free}}
                                {{#has_discounts}}
                                <span class="badge text-bg-warning fw-normal">Kody promocyjne</span>
                                {{/has_discounts}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 p-3">
                        <h2 class="card-title fw-normal fs-4">{{name}}</h2>
                        {{#dish_types}}
                        <p type="button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{dish_types}}" 
                            class="fs-6 text-secondary text-truncate">
                            {{dish_types}}
                        </p>
                        {{/dish_types}}
                        {{^dish_types}}
                        <p class="fs-6 text-secondary">Brak danych</p>
                        {{/dish_types}}
                        <div class="hstack gap-3">
                            <div class="hstack gap-2 text-warning small-font">
                                <i class="bi bi-star-fill"></i>
                                {{avg_grades}}
                                <span class="text-secondary">{{total_grades}}</span>
                            </div>
                            <div class="hstack gap-2 text-success small-font"><i class="bi bi-bicycle fs-4"></i>{{delivery_price}}</div>
                            <div class="hstack gap-2 text-primary small-font"><i class="bi bi-clock"></i>{{avg_delivery_time}}</div>
                            <div class="ms-auto">
                                <button data-bs-toggle="modal" data-bs-target="#res-description-{{id}}" type="button" 
                                    class="btn btn-outline-primary btn-sm">
                                    Opis restauracji
                                </button>
                                <a type="button" href="{{base_dir}}restaurants/restaurant-details?id={{id}}" class="btn btn-sm btn-primary"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Przejdź do strony restauracji">
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="res-description-{{id}}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Opis restauracji <strong>{{name}}</strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">{{description}}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/data.res_list}}
            {{#data.pagination_visible}}
            <div class="my-4">
                {{> partials/pagination-view.partial}}
            </div>
            {{/data.pagination_visible}}
            {{/data.not_empty}}
            {{^data.not_empty}}
            <div class="alert alert-warning mb-3" role="alert">
                Nie znaleziono żadnych restauracji na podstawie przefiltrowanych wyników. Jeśli uważasz, że to błąd, zgłoś to do Nas
                przechodząc pod <a href="{{base_dir}}contact-form" class="alert-link">ten adres</a> lub napisz do nas na <a 
                href="mailto:info@restaurants.miloszgilga.pl" class="alert-link">info@restaurants.miloszgilga.pl</a>
            </div>
            {{/data.not_empty}}
        </div>
    </div>
</main>
{{> partials/footer-view.partial }}
