{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4 d-flex">
            <div class="col-md w-100">
                <form action="" method="post" class="sticky-top panel-left-nav">
                    <p class="fs-5 text-secondary mb-4">Znalezionych restauracji: <span class="text-dark">{{data.count_of_results}}</span></p>
                    <p class="fs-6 text-secondary mb-3 lh-sm">Filtrowanie wyników wyszukiwania restauracji:</p>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" name="restaurant-open-close" type="checkbox" role="switch"
                            id="form-restaurant-open-close">
                        <label class="form-check-label" for="form-restaurant-open-close">Czynna/nieczynna</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" name="restaurant-delivery-free" type="checkbox" role="switch"
                            id="form-restaurant-delivery-free">
                        <label class="form-check-label" for="form-restaurant-delivery-free">Oferujące bezpłatną dostawę</label>
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" name="restaurant-discounts" type="checkbox" role="switch"
                            id="form-restaurant-discounts">
                        <label class="form-check-label" for="form-restaurant-discounts">Posiadająca rabaty</label>
                    </div>
                    <p class="fs-6 text-secondary mt-4 mb-2 lh-sm">Sortuj według:</p>
                    <select class="form-select" name="restaurant-sort-properties">
                        <option selected>-</option>
                        <option value="dish-price">Ceny oferowanych potraw</option>
                        <option value="delivery-price">Ceny dostawy zamówienia</option>
                        <option value="delivery-time">Czasu dostawy zamówienia</option>
                        <option value="delivery-time">Popularności restauracji</option>
                        <option value="name-alphabetically">Alfabetycznie według nazwy restauracji</option>
                    </select>
                    <p class="fs-6 text-secondary mt-4 mb-2 lh-sm">Kolejność sortowania:</p>
                    <select class="form-select" name="restaurant-sort-properties">
                        <option selected value="asc">Rosnąco</option>
                        <option value="desc">Malejąco</option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-md mt-3 w-100">Filtruj wyniki</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            {{#banner.show_banner}}
            <div class="alert {{banner.banner_class}} mb-4 alert-dismissible fade show" role="alert">
                {{{banner.banner_message}}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/banner.show_banner}}
            <form class="col-sm-12 mb-3 d-flex justify-content-end" action="" method="get">
                <input type="search" name="search" placeholder="Wyszukaj po nazwie" class="form-control" value="{{data.search_text}}">
                <button type="submit" class="btn btn-primary btn-md ms-2 py-2"><i class="bi bi-search"></i></button>
            </form>
            {{#data.not_empty}}
            {{#data.res_list}}
            <div class="card mb-3">
                <div class="row h-100 mx-0">
                    <div class="col-md-4 p-0 position-relative d-flex align-items-center justify-content-md-start justify-content-center">
                        {{#banner_url}}
                        <div class="restaurant-banner-image gradient-left"
                            style="background-image: url({{base_dir}}public/{{banner_url}});"></div>
                        {{/banner_url}}
                        {{^banner_url}}
                        <div class="restaurant-banner-image gradient-left" 
                            style="background-image: url({{base_dir}}public/static/images/default-banner.jpg);"></div>
                        {{/banner_url}}
                        {{#profile_url}}
                        <img src="{{base_dir}}public/{{profile_url}}" alt="" class="rounded ms-0 ms-md-4 position-relative" 
                            width="100px" height="100px"/>
                        {{/profile_url}}
                        {{^profile_url}}
                        <img src="{{base_dir}}public/static/images/default-profile.jpg" alt="" 
                            class="rounded ms-0 ms-md-4 position-relative" width="100px" height="100px"/>
                        {{/profile_url}}
                    </div>
                    <div class="col-md-8 p-3">
                        <h2 class="card-title fw-normal fs-4">{{name}}</h2>
                        {{#dish_types}}
                        <p type="button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{dish_types}}" 
                            class="fs-6 text-secondary text-truncate">
                            {{dish_types}}
                        </p>
                        {{/dish_types}}
                        {{^dish_types}}
                        <p class="fs-6 text-secondary">Brak danych</p>
                        {{/dish_types}}
                        <div class="hstack gap-3">
                            <div class="hstack gap-2"><i class="bi bi-star-fill text-warning"></i>{{avg_grades}}({{total_grades}})</div>
                            <div class="hstack gap-2"><i class="bi bi-bicycle fs-4 text-success"></i>{{delivery_price}} zł</div>
                            <div class="hstack gap-2"><i class="bi bi-clock text-primary"></i>{{avg_devlivery_time}} min</div>
                            <div class="ms-auto">
                                <button data-bs-toggle="modal" data-bs-target="#res-description-{{id}}" type="button" 
                                    class="btn btn-outline-primary btn-sm">
                                    Opis restauracji
                                </button>
                                <a type="button" href="{{base_dir}}restaurants/restaurant-details?id={{id}}" class="btn btn-sm btn-primary"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Przejdź do strony restauracji">
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="res-description-{{id}}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Opis restauracji <strong>{{name}}</strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">{{description}}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/data.res_list}}
            {{#data.pagination_visible}}
            <div class="my-4">
                {{> partials/pagination-view.partial}}
            </div>
            {{/data.pagination_visible}}
            {{/data.not_empty}}
            {{^data.not_empty}}
            <div class="alert alert-warning mb-3" role="alert">
                Nie znaleziono żadnych restauracji na podstawie przefiltrowanych wyników. Jeśli uważasz, że to błąd, zgłoś to do Nas
                przechodząc pod <a href="{{base_dir}}contact-form" class="alert-link">ten adres</a> lub napisz do nas na <a 
                href="mailto:info@restaurants.miloszgilga.pl" class="alert-link">info@restaurants.miloszgilga.pl</a>
            </div>
            {{/data.not_empty}}
        </div>
    </div>
</main>
{{> partials/footer-view.partial }}
