<div class="modal fade" id="add-dish-type" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Dodawanie nowego typu potrawy</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{base_dir}}{{redirect_link}}/dish-types/add-dish-type" method="post">
        <div class="modal-body">
          <div class="col-md-12 mb-3">
            <label for="form-dish-type-name" class="form-label">Nazwa typu potrawy:</label>
            <input type="text" name="dish-type-name" class="form-control" maxlength="50"
                   value="{{name}}" placeholder="np. Pizza" id="form-dish-type-name" required minlength="3">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-outline-success">Dodaj nowy typ</button>
        </div>
      </form>
    </div>
  </div>
</div>
