<button class="d-flex text-dark border-0 bg-transparent ms-4 me-4" type="button" data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    <i class="bi bi-cart4 fs-4"></i>
</button>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" 
id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Twoje zamówienia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex row p-2">
                    <div class="col text-start">
                        <p class="card-title fw-normal">Nazwa Dania</p>       
                        <p class="text-secondary">Szczegoly</p>
                    </div>    
                    <div class="col  text-end">
                        <p>Cena</p> 
                    </div>
                    <div class="hstack gap-3 d-flex">
                        <div>
                            <a type="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="bi bi-dash-circle fs-2 text-danger"></i></a>
                        </div>
                        <div class="d-flex align-self-end">
                            <p>ilość</p>     
                        </div>
                        <div>
                            <a type="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="bi bi-plus-circle text-success fs-2"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="text-center mt-4">
            <p>Kwota całkowita + wysyłka</p>
        </div>
        <button type="button" class="btn btn-success w-100">Kasa</button>
    </div>
</div>  
