<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <script type="text/javascript">
        
      </script>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Usuwanie restauracji</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Czy napewno chcesz usunąć restauracje {{res.name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <a class="btn btn-danger" href="index.php?action=restaurant/panel/myrestaurant/delete&id={{res.id}}" >Usuń</a>
        </div>
      </div>
    </div>
  </div>
