{{#banner.show_banner}}
  <div class="alert {{banner.banner_class}} alert-dismissible fade show" role="alert">
    {{{banner.banner_message}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/banner.show_banner}}
