<footer class="bg-dark py-4 fw-light text-light">
    <div class="container-lg">
        <div class="row justify-content-center py-md-3 py-0">
            <div class="col-md-6 col-12 mb-4 mb-md-0">
                <div class="row align-items-center flex-md-nowrap">
                    <a href="{{base_url}}" class="col-md-auto col-12 d-flex align-items-center justify-content-center mb-4 mb-md-0">
                        <img src="{{base_dir}}public/static/images/app-logo-light.png" width="60px" height="60px"/>
                    </a>
                    <div class="col-md-auto col-12 mb-0">
                        <p class="mb-0 text-center text-md-start">
                            Adres: Ul. Krakowska 12, 43-100 Gliwice, Polska<br>
                            Telefon kontaktowy: +48 123 456 789 <br>
                            Email: <a href="mailto:info@restaurants.miloszgilga.pl" class="text-white-50">
                                info@restaurants.miloszgilga.pl
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4 hstack justify-content-center justify-content-md-end">
                    <p class="mb-0 me-4">Obserwuj nas:</p>
                    <div class="hstack gap-1">
                        <a href="https://www.facebook.com" class="text-decoration-none me-3">
                            <i class="bi bi-facebook fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                        <a href="https://www.instagram.com" class="text-decoration-none me-3">
                            <i class="bi bi-instagram fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                        <a href="https://www.twitter.com" class="text-decoration-none me-3">
                            <i class="bi bi-twitter fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="text-decoration-none">
                            <i class="bi bi-linkedin fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                    </div>
                </div>
                <div class="hstack gap-3 justify-content-center justify-content-md-end">                        
                    <a href="{{base_dir}}" class="text-white-50">Polityka prywatności</a>
                    <div class="vr"></div>
                    <a href="{{base_dir}}" class="text-white-50">Regulamin sprzedaży</a>
                </div>
            </div>
        </div>
        <hr class="mb-4 text-white-50"/>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <p class="mb-0">
                    Copyright &copy; {{curr_date}} <a class="text-white-50" href="{{base_dir}}">Dobre.pl</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                <p class="mb-0">
                    Strona zaprojektowana i opracowana przez 
                    <a href="https://cdn.discordapp.com/attachments/690925452621250571/1062840317503619162/gigakoksy.jpg" 
                    class="text-white-50">GigaKoxów</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
