<footer class="bg-dark py-4 fw-light text-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 mb-4 mb-md-0">
                <p class="mb-0">
                    Adres: Ul. Krakowska 12, 43-100 Gliwice, Polska<br>
                    Telefon kontaktowy: +48 123 456 789 <br>
                    Email: <a href="info@restaurants.miloszgilga.pl" class="text-white-50">
                        info@restaurants.miloszgilga.pl
                    </a>
                </p>
            </div>
            <div class="col-md-5">
                <div class="mb-4 hstack">
                    <p class="mb-0 me-4">Obserwuj nas:</p>
                    <div class="hstack gap-1">
                        <a href="https://www.facebook.com" class="text-decoration-none me-3">
                            <i class="bi bi-facebook fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                        <a href="https://www.instagram.com" class="text-decoration-none me-3">
                            <i class="bi bi-instagram fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                        <a href="https://www.twitter.com" class="text-decoration-none me-3">
                            <i class="bi bi-twitter fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="text-decoration-none">
                            <i class="bi bi-linkedin fs-4 footer-link-hover smooth-transition"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="hstack gap-3">                        
                        <a href="{{base_dir}}" class="text-white-50">Polityka prywatności</a>
                        <div class="vr"></div>
                        <a href="{{base_dir}}" class="text-white-50">Regulamin sprzedaży</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-5">
                <p class="mb-0">
                    Copyright &copy; {{curr_date}} <a class="text-white-50" href="{{base_dir}}">Dobre.pl</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-5">
                <p class="mb-0">
                    Strona zaprojektowana i opracowana przez <a href="{{base_dir}}" class="text-white-50">GigaKoxów</a>
                </p>
            </div>
        </div>
    </div>
</footer>
