<div class="d-flex align-items-center mb-3">
    <div class="me-4">
        {{#data.details.photo_url}}
            <img src="{{base_dir}}public/{{data.details.photo_url}}" alt="" class="rounded" width="80px" height="80px"/>
        {{/data.details.photo_url}}
        {{^data.details.photo_url}}
            <img src="{{base_dir}}public/static/images/default-profile.jpg" alt="" class="rounded" width="80px" height="80px"/>
        {{/data.details.photo_url}}
    </div>
    <div>
        <h2 class="mb-3 text-secondary fw-normal">Szczegóły potrawy <span class="text-primary">#{{data.dish_id}}</span></h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{{base_dir}}owner/dashboard">Panel główny</a></li>
                <li class="breadcrumb-item"><a href="{{base_dir}}owner/restaurants">Moje restauracje</a></li>
                <li class="breadcrumb-item">
                    <a href="{{base_dir}}owner/restaurants/restaurant-details?id={{data.restaurant_id}}">
                        Szczegóły restauracji #{{data.restaurant_id}}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Szczegóły potrawy #{{data.dish_id}}</li>
            </ol>
        </nav>
    </div>
</div>

<hr class="mb-3"/>
<div class="row mb-4">
    <div class="col-auto mb-2">
        <a href="{{base_dir}}owner/dishes/edit-dish?resid={{data.restaurant_id}}&dishid={{data.dish_id}}" class="btn btn-primary">
            Edytuj potrawę
        </a>
    </div>
    <div class="col-auto mb-2">
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-dish-modal">
            Usuń potrawę
        </button>
    </div>
</div>
<div class="modal fade" id="delete-dish-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Usuwanie potrawy</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Czy napewno chcesz usunąć wybraną potrawę:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nazwa potrawy: <strong>{{data.details.name}}</strong></li>
                    <li class="list-group-item">Typ potrawy: <strong>{{data.details.type}}</strong></li>
                    <li class="list-group-item">Opis: <strong>{{data.details.description}}</strong></li>
                </ul>
                <p class="mt-3">Wybrana potrawa zostanie usunięta jedynie z wybranej restauracji. Operacji nie można cofnąć.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <a class="btn btn-outline-danger" href="{{base_dir}}owner/dishes/delete-dish?resid={{data.details.id}}&dishid={{id}}">
                    Usuń
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Nazwa potrawy:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.name}}</p>
        </div>
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Typ potrawy:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.type}}</p>
        </div>
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Cena za potrawę:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.price}} zł</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Pochodzenie typu potrawy:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.is_custom_type}}</p>
        </div>
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Cena za dostawę:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.r_delivery_price}} zł</p>
        </div>
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Nazwa restauracji serwującej potrawę:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.r_name}}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Średni czas przygotowania potrawy (w minutach):</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.prepared_time}} minut</p>
        </div>
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Adres restauracji serwującej potrawę:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.r_address}}</p>
        </div>
        <div class="col-md-4">
            <p class="text-secondary lh-sm mb-1">Całkowita cena (cena + dostawa):</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.total_price}} zł</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <p class="text-secondary lh-sm mb-1">Opis potrawy:</p>
            <p class="text-dark fs-5 lh-sm">{{data.details.description}}</p>
        </div>
    </div>
</div>
