<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php?action=admin/panel/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profil</li>
    </ol>
</nav>
<h2 class="text-secondary fw-light mb-0">Profil administratora</h2>
