<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{base_dir}}admin/panel/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item active" aria-current="page">Akceptowanie restauracji</li>
    </ol>
</nav>
{{#banner.show_banner}}
<div class="alert {{banner.banner_class}} mb-3 alert-dismissible fade show" role="alert">
    {{{banner.banner_message}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/banner.show_banner}}
<div class="container-fluid px-0">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 mb-3"><h2 class="text-secondary fw-light mb-0">Restauracje do zaakceptowania</h2></div>
        <form class="col-lg-3 mb-3 d-flex justify-content-end" action="" method="post">
            <input type="text" name="search-res-name" placeholder="szukaj po nazwie" class="form-control">
            <button type="submit" name="search-res-button" class="btn btn-primary btn-md ms-2 py-2">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>
<div class="table-responsive-xxl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Nazwa Restauracji</th>
                <th>Właściciel</th>
                <th class="d-none d-lg-table-cell">Dane adresowe</th>
                <th class="fit">Akcja</th>
            </tr>
        </thead>
        <tbody>
            {{#waiting_restaurants}}
            <tr>
                <td class="align-middle">{{iterator}}</td>
                <td class="align-middle">{{res.name}}</td>
                <td class="align-middle d-none d-lg-table-cell">{{res.full_name}}</td>
                <td class="align-middle d-none d-lg-table-cell">{{res.address}}</td>
                <td class="align-middle fit flex-nowrap">
                    <a href="{{base_dir}}admin/panel/restaurant/accept?id={{res.id}}" class="btn btn-primary" type="button">
                        Akceptuj
                    </a>
                    <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#resolve-res-modal-{{res.id}}">
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Odrzuć" type="button">
                            <i class="bi bi-x-lg"></i>
                        </span>
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="resolve-res-modal-{{res.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Akceptowanie restauracji</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Czy napewno chcesz odrzucić restaurację restauracje <strong>{{res.name}}</strong>? Po jej odrzuceniu zostanie
                            usunięta z systemu oraz na adres email właściciela zostanie wysłana wiadomość z informacją o odrzuceniu.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                            <a class="btn btn-outline-success" href="{{base_dir}}admin/panel/restaurant/accept/restaurant?id={{res.id}}">
                                Akceptuj
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/waiting_restaurants}}
        </tbody>
    </table>
</div>
<div class="container-fluid px-0">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 mb-3 dropdown">
            <span class="me-2 text-secondary">Elementów na stronie</span>
            <button class="btn btn-primary btn-sm dropdown-toggle" type="submit" data-bs-toggle="dropdown" aria-expanded="false"> 5
            </button>
            <ul class="dropdown-menu" name= "taskOption">
                <li><a class="dropdown-item" href = '{{base_dir}}admin/panel/restaurant/accept&page=0&el=5'>5</a></li>
                <li><a class="dropdown-item" href="{{base_dir}}admin/panel/restaurant/accept&page=0&el=10">10</a></li>
                <li><a class="dropdown-item" href="{{base_dir}}admin/panel/restaurant/accept&page=0&el=15">15</a></li>
                <li><a class="dropdown-item" href="{{base_dir}}admin/panel/restaurant/accept&page=0&el=20">20</a></li>
                <li><a class="dropdown-item" href="{{base_dir}}admin/panel/restaurant/accept&page=0&el=50">50</a></li>
            </ul>
 
        </div>
        <nav class="col-md-6 d-flex justify-content-end" aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="{{base_dir}}admin/panel/restaurant/accept&page={{data.previous}}&el={{data.element}}"><i class="bi bi-chevron-left"></i></a>
                </li>
                {{#data.pagination}}
                <li class="page-item">
                    <a class="page-link" href="{{base_dir}}admin/panel/restaurant/accept&page={{i}}&el={{data.element}}">{{page}}</a>
                </li>
                {{/data.pagination}}
                <li class="page-item">
                    <a class="page-link" href="{{base_dir}}admin/panel/restaurant/accept&page={{data.next}}&el={{data.element}}"><i class="bi bi-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
