<nav class="d-flex justify-content-between navbar fixed-top bg-dark bg-gradient">
    <a class="navbar-brand text-light fw-normal mx-3 d-none d-md-block" href="index.php?action=admin/panel/dashboard">
        CMS | <span class="text-white-50">Panel administratora</span>
    </a>
    <div class="dropdown d-block d-md-none">
        <button class="d-flex align-items-center border-0 text-white bg-transparent dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-light fs-5 fw-normal ms-3 me-1">
                CMS | <span class="text-white-50">Panel restauratora</span>
            </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-start text-small dropdown-menu-dark">
            <li><a class="dropdown-item" href="index.php?action=admin/panel/dashboard">
                <i class="bi bi-house-door me-2"></i>Panel główny</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="index.php?action=admin/panel/profile">
                <i class="bi bi-person me-2"></i>Profil
            </a></li>
            <li><a class="dropdown-item" href="index.php?action=admin/panel/settings">
                <i class="bi bi-gear me-2"></i>Ustawienia
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="index.php?action=auth/logout">
                <i class="bi bi-box-arrow-left me-2"></i>Wyloguj
            </a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="d-flex align-items-center border-0 text-white bg-transparent dropdown-toggle me-4"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{logged_user.user_profile_image}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <span class="mx-1 d-none d-sm-block">{{logged_user.user_full_name}}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end text-small dropdown-menu-dark">
            <li><a class="dropdown-item" href="index.php?action=admin/panel/profile">
                <i class="bi bi-person me-2"></i>Profil
            </a></li>
            <li><a class="dropdown-item" href="index.php?action=admin/panel/settings">
                <i class="bi bi-gear me-2"></i>Ustawienia
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="index.php?action=auth/logout">
                <i class="bi bi-box-arrow-left me-2"></i>Wyloguj
            </a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid d-flex flex-column flex-fill">
    <div class="row flex-fill flex-nowrap">
        <div class="col-2 d-none d-xl-block">
            <nav class="sticky-top panel-left-nav">
                <div class="border-top my-3"></div>
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a href="index.php?action=admin/panel/dashboard"
                            class="btn btn-hover-dark d-inline-flex align-items-center rounded border-0 w-100 text-start lh-sm">
                            <i class="bi bi-house-door me-2"></i>Panel główny
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-hover-dark d-inline-flex align-items-center rounded border-0 collapsed w-100"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            <i class="bi bi-chevron-right me-2 chewron-icon smooth-transition"></i>Moje konto
                        </button>
                        <ul class="collapse ms-4 mt-1 btn-toggle-nav list-unstyled fw-normal pb-1 small" id="account-collapse">
                            <li class="mb-2">
                                <a href="index.php?action=admin/panel/profile" 
                                    class="link-dark d-inline-flex align-items-center py-1 px-3 text-decoration-none rounded btn-hover-dark w-100">
                                    <i class="bi bi-person me-2"></i>Profil
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="index.php?action=admin/panel/settings" 
                                    class="link-dark d-inline-flex align-items-center py-1 px-3 text-decoration-none rounded btn-hover-dark w-100">
                                    <i class="bi bi-gear me-2"></i>Ustawienia
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mb-1">
                        <a href="index.php?action=auth/logout" class="btn btn-secondary d-inline-flex align-items-center rounded border-0 w-100 mb-3">
                            <i class="bi bi-box-arrow-left me-2"></i>
                            Wyloguj
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-fixed-panel-nav d-none d-md-block d-xl-none">
            <nav class="sticky-top panel-left-nav">
                <ul class="list-unstyled">
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a href="index.php?action=admin/panel/dashboard" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Panel główny"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm">
                            <i class="bi bi-house-door fs-5"></i>
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a href="index.php?action=admin/panel/profile" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Profil"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm">
                            <i class="bi bi-person fs-5"></i>
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="index.php?action=admin/panel/settings" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Ustawienia"
                            class="btn btn-hover-dark text-center rounded border-0 w-100 text-start lh-sm">
                            <i class="bi bi-gear fs-5"></i>
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a href="index.php?action=auth/logout" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Wyloguj"
                            class="btn btn-secondary text-center rounded border-0 w-100 text-start lh-sm mb-3">
                            <i class="bi bi-box-arrow-left fs-5"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col pt-5 px-0 mt-5 mh-100 shadow d-flex flex-column justify-content-between">
            <main class="px-3 px-sm-5">
                {{{ embed_rendering_section }}}
            </main>
            {{> partials/panel-footer-view.partial }}
        </div>
    </div>
</div>
