{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    {{> partials/dynamic-banner-view.partial}}
    tutaj będą szczegóły odnośnie złożonego zamówienia, mapa restauracji, jakieś dodatki jeszcze nie wiem
</main>
{{> partials/footer-view.partial }}
