{{> partials/header-view.partial }}

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100 registration-box">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <form class="row g-3" action="" method="post" novalidate>
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5 registration-heading">Edycja danych restuaracji</h3>

                                        <div class="col-md-12 mb-2 extra-bottom-margin">
                                            <label for="form-add-restaurant" class="form-label">Nazwa Restauracji</label>
                                            <input type="text" name="restaurant-add" class="form-control {{form.v_login.bts_class}}" 
                                            placeholder="Podaj nazwę restauracji">
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                            <div class="valid-feedback">Wygląda dobrze!</div>
                                        </div>

                                        <div class="col-md-12 mb-2 extra-bottom-margin">
                                            <label for="form-price-for-delivery" class="form-label">Cena za dostawę</label>
                                            <input type="password" name="restaurant-delivery-price" class="form-control {{form.v_password.bts_class}}"
                                            placeholder="Podaj cenę dostawy">
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                        </div>

                                        <div class="col-md-12 mb-2 extra-bottom-margin">
                                            <label for="formFileDisabled" class="form-label">Dodaj baner restauracji</label>
                                            <input class="form-control" type="file"/>
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="formFileDisabled" class="form-label">Dodaj zdjęcie główne restauracji</label>
                                            <input class="form-control" type="file"/>
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                            <div class="valid-feedback">Wygląda dobrze!</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="col-md-12 mb-3">
                                            <label for="form-street" class="form-label">Ulica</label>
                                            <input type="text" name="registration-street" class="form-control {{form.v_street.bts_class}}"   
                                            value="{{form.v_street.value}}" required>
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                            <div class="valid-feedback">Wygląda dobrze!</div>
                                        </div>

                                        <div class="row extra-bottom-margin">
                                            <div class="col-md-6">
                                                <label for="form-post-code" class="form-label">Kod pocztowy</label>
                                                <input type="text" name="registration-post-code" class="form-control {{form.v_post_code.bts_class}}"
                                                value="{{form.v_post_code.value}}">
                                                <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                                <div class="valid-feedback">Wygląda dobrze!</div>
                                            </div>

                                            <div class="col-md-6 mb-2 pb-2">
                                                <label for="form-city" class="form-label">Miasto</label>
                                                <input type="text" name="registration-city" class="form-control {{form.v_city.bts_class}}"
                                                value="{{form.v_city.value}}">
                                                <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                                <div class="valid-feedback">Wygląda dobrze!</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-5">
                                            <label for="form-street" class="form-label">Ulica</label>
                                            <input type="text" name="registration-street" class="form-control {{form.v_street.bts_class}}"  
                                            value="{{form.v_street.value}}" required>
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                            <div class="valid-feedback">Wygląda dobrze!</div>
                                        </div>
    
                                        <button type="submit" name="registration-button" class="btn btn-dark btn-lg registration-button">
                                            Zarejestruj
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{{> partials/footer-view.partial }}
