<div>główny widok tabeli z restauracjami konkretnego restauratora</div>
przycisk na razie jeden główny, ale w planach w każdym rekordzie w tabeli z restauracją przycisk do usuwania

{{#banner.show_banner}}
<div class="alert {{banner.banner_class}} mb-3 alert-dismissible fade show" role="alert">
    {{{banner.banner_message}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/banner.show_banner}}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa Restauracji</th>
        <th scope="col">Ulica, Nr. budynku ,Kod pocztowy, Miasto</th>
        <th scope="col">Cena Dostawy</th>
      </tr>
    </thead>
    <tbody>
      {{#items}}
      <tr>
        <th scope="row">{{iterator}}</th>
        <td>{{res.name}}</td>
        <td>{{res.street}} {{res.building_locale_nr}}, {{res.post_code}}, {{res.city}}</td>
        <td>{{res.delivery_price}}</td>
        <td><div class="d-grid gap-2 d-md-block">
              <button class="btn btn-success" type="button">Wyświetl</button>
              <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-res-id="{{res.id}}">Usuń</button>
            </div>
        </td>
      </tr>
      {{> partials/delete-restaurant-modal-view.partial}}
      {{/items}}
    </tbody>
  </table>    
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
