<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php?action=restaurant/panel/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item"><a href="index.php?action=restaurant/panel/myrestaurants">Moje restauracje</a></li>
        <li class="breadcrumb-item active" aria-current="page">Zamówienia</li>
    </ol>
</nav>
<h2 class="text-secondary fw-light mb-0">Zamówienia</h2>
