<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{base_dir}}restaurant/panel/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item"><a href="{{base_dir}}restaurant/panel/myrestaurants">Restauracje</a></li>
        <li class="breadcrumb-item active" aria-current="page">tutaj bedzie nazwa restauracji</li>
    </ol>
</nav>
{{#banner.show_banner}}
<div class="alert {{banner.banner_class}} mb-3 alert-dismissible fade show" role="alert">
    {{{banner.banner_message}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/banner.show_banner}}
<div class="container-fluid px-0">
    <div class="d-flex justify-content-between">
        <div class="col-lg-6 mb-3"><h2 class="text-secondary fw-light mb-0">Restauracja</h2></div>
        <form class="col-lg-3 mb-3 d-flex justify-content-end" action="" method="post">
            <input type="text" name="search-dish-name" placeholder="Szukaj potrawy" class="form-control" value="{{data.search_text}}">
            <button type="submit" name="search-dish-button" class="btn btn-primary btn-md ms-2 py-2">
            <i class="bi bi-search"></i>
            </button>
            <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-res-modal-{{id}}">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Resetuj wyszukiwanie" type="button">
                    <i class="bi bi-x-lg"></i>
                </span>
            </button>
        </form>
    </div>
</div>
<div class="table-responsive-xxl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <div class="card" style="width: xxl;">
                        <div class="card-body">
                            <h5 class="card-title">Danie</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Typ dania</h6>
                            <p class="card-text">Opis dania</p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-primary">Zamow</a>
                                <p class="m-2">Cena</p>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#data.restaurant_dish}}
            <tr>
                <th>
                    <div class="card" style="width: 40rem;">
                        <div class="card-body">
                            <h5 class="align-middle">{{name}}</h5>
                            <h6 class="align-middle">{{type}}</h6>
                            <p class="align-middle d-none d-lg-table-cell">{{description}}</p>
                            <a href="#" class="btn btn-primary">Zamow</a>
                            <a class="align-middle">{{price}}</a>
                             
                        </div>
                    </div>
                </th>
            </tr>
            {{/data.restaurant_dish}}
        </tbody>
    </table>
</div>
{{#data.pagination_visible}}
    {{> partials/pagination-view.partial}}
{{/data.pagination_visible}}
