<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{base_dir}}restaurant/panel/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item"><a href="{{base_dir}}restaurant/panel/myrestaurants">Moje dania</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{add_edit_text}} danie</li>
    </ol>
</nav>
<h2 class="mt-4 mb-4 text-secondary fw-normal">{{add_edit_text}} danie</h2>
<div class="d-flex flex-column justify-content-center container flex-grow-1">
    <div class="row d-flex justify-content-center align-items-center mx-auto w-100">
        {{#is_error}}
        <div class="alert alert-danger mb-2 alert-dismissible fade show" role="alert">
            {{{form.error}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/is_error}}
        <div class="py-4 px-0">
            <form class="row" action="" method="post" novalidate>
                <div class="col-xl-8 px-4">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="col-md-12 mb-3">
                                <label for="form-name-dish" class="form-label">Nazwa dania</label>
                                <input type="text" name="dish-name" class="form-control {{form.v_name.bts_class}}"
                                    placeholder="np. Carbonara na śmietanie" value="{{form.v_name.value}}"
                                    id="form-name-dish">
                                <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="form-price-for-dish" class="form-label">Cena dania</label>
                                <div class="input-group has-validation">
                                    <input type="text" name="dish-price" id="form-price-for-dish"
                                        class="form-control {{form.v_price.bts_class}}" placeholder="np. 8.00 lub 8,00"
                                        value="{{form.v_price.value}}">
                                    <span class="input-group-text">zł</span>
                                    <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="col-md-12 mb-3">
                                <label for="file-profile" class="form-label">{{add_edit_text}} zdjęcie dania </label>
                                <input id="file-profile" class="form-control {{form.v_profile.bts_class}}" type="file"
                                    name="dish-profile" accept="image/png,image/jpeg,image/jpg" />
                                <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="form-type-dish" class="form-label">Typ dania</label>
                                <input type="text" name="dish-type" class="form-control {{form.v_type.bts_class}}"
                                    placeholder="np. Kebab" value="{{form.v_type.value}}" id="form-type-dish">
                                <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="form-desc-dish" class="form-label">Opis restauracji</label>
                            <textarea name="dish-description" class="form-control {{form.v_description.bts_class}}"
                                rows="3" placeholder="Krótki opis dania, składniki, maksymalnie 1000 znaków."
                                id="form-desc-dish" maxlength="1000">{{form.restaurants.v_description.value}}</textarea>
                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                        </div>
                        <button type="submit" name="dish-button" class="btn btn-primary btn-md w-100 py-2 col-md-6">
                            {{add_edit_text}} danie
                        </button>
                    </div>

                </div>
                <div class="col-xl-4 px-4">
                    <div class="col-md-12 mb-3">
                        <label for="form-restaurant-select" class="form-label">Restauracje, dla których dodajesz
                            danie</label>
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Wybierz restauracje
                        </button>
                        <ul class="dropdown-menu">
                            {{#res.restaurants}}
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{id}}" name="check_list[]"
                                        id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault"> {{name}}, {{street}}
                                        {{building_locale_nr}}, {{city}}</label>
                                </div>
                            </li>
                            {{/res.restaurants}}
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
