<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-start mx-3">
        <a class="navbar-brand" href="index.php?action=restaurant/panel/dashboard">
            <span class="material-symbols-outlined"> storefront</span> Panel restauratora</a>
    </div>
    <div class="container-fluid d-flex justify-content-end mx-3">
        <div class="dropdown">
            <a href="#"
                class="d-flex align-items-center text-white link-black text-decoration-none dropdown-toggle mx-3"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>User</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Opcje</a></li>
                <li><a class="dropdown-item" href="#">Profil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="index.php?action=auth/logout">Wyloguj</a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="container-fluid">
    <div class="row flex-nowrap ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-fixed">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 ">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                    <span class="fs-5 d-none d-sm-inline ">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start "
                    id="menu">
                    <li class="nav-item ">
                        <a href="index.php?action=home/welcome" class="nav-link align-middle px-0 text-white bg-dark">
                            <span class="material-symbols-outlined">home</span> <span
                                class="ms-1 d-none d-sm-inline">Strona główna</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span
                                class="ms-1 d-none d-sm-inline text-white bg-dark"><span
                                    class="material-symbols-outlined">
                                    chevron_right</span>Restauracja</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-white bg-dark"> <span
                                        class="d-none d-sm-inline">Dodaj restauracje
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-white bg-dark"> <span
                                        class="d-none d-sm-inline">Usuń restauracje</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span
                                class="ms-1 d-none d-sm-inline text-white bg-dark"><span
                                    class="material-symbols-outlined">
                                    chevron_right</span>Dania</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-white bg-dark"> <span
                                        class="d-none d-sm-inline">Dodaj danie </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-white bg-dark"> <span
                                        class="d-none d-sm-inline">Usuń danie</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.php?action=auth/register" class="nav-link px-0 align-middle">
                            <span class="material-symbols-outlined text-white bg-dark">app_registration</span>
                            <span class="ms-1 d-none d-sm-inline text-white bg-dark">Rejestracja</span></a>
                    </li>
                    <li>
                        <a href="index.php?action=auth/login" class="nav-link px-0 align-middle">
                            <span class="material-symbols-outlined text-white bg-dark">login</span>
                            <span class="ms-1 d-none d-sm-inline text-white bg-dark">Logowanie</span></a>
                    </li>
                    <li>
                        <a href="index.php?action=restaurant/panel/myrestaurants"
                            class="nav-link px-0 align-middle text-white bg-dark">
                            <span class="material-symbols-outlined">format_list_bulleted</span>
                            <span class="ms-1 d-none d-sm-inline">Lista restauracji</span> </a>
                    </li>
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3 mt-5 pl-3" style="margin-left: 17%">
            {{{ embed_rendering_section }}}
        </div>
    </div>
</div>
