<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php?action=restaurant/panel/dashboard">Panel główny</a></li>
        <li class="breadcrumb-item"><a href="index.php?action=restaurant/panel/myrestaurants">Moje restauracje</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{add_edit_text}} restaurację</li>
    </ol>
</nav>
<h2 class="mt-4 mb-4 text-secondary fw-normal">{{add_edit_text}} restaurację</h2>
<div class="d-flex flex-column justify-content-center container flex-grow-1">
    <div class="row d-flex justify-content-center align-items-center mx-auto w-100">
        {{#is_error}}
        <div class="alert alert-danger mb-2 alert-dismissible fade show" role="alert">
            {{{form.error}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/is_error}}
        <div class="card rounded-3 custom-card-padding">
            <form class="row" action="" method="post" novalidate>
                <h3 class="fw-normal mb-5 text-secondary">{{add_edit_text}} restaurację</h3>
                <div class="col-lg-6 px-4">
                    <div class="col-md-12 mb-3">
                        <label for="form-add-restaurant" class="form-label">Nazwa restauracji</label>
                        <input type="text" name="restaurant-name" class="form-control {{form.v_name.bts_class}}"
                            placeholder="np. Bar Bistro" value="{{form.v_name.value}}">
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="form-price-for-delivery" class="form-label">Cena za dostawę (powyżej 1zł)</label>
                        <div class="input-group has-validation">
                                    <input type="text" name="restaurant-delivery-price" id="form-price-for-delivery"
                                class="form-control {{form.v_price.bts_class}}" placeholder="np. 8.00 lub 8,00"
                                value="{{form.v_price.value}}">
                            <span class="input-group-text">zł</span>
                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="file-banner" class="form-label">{{add_edit_text}} baner restauracji</label>
                        <input id="file-banner" class="form-control {{form.v_banner.bts_class}}" type="file"
                            name="restaurant-banner" accept="image/png,image/jpeg,image/jpg" />
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="file-profile" class="form-label">{{add_edit_text}} zdjęcie główne
                            restauracji</label>
                        <input id="file-profile" class="form-control {{form.v_profile.bts_class}}" type="file"
                            name="restaurant-profile" accept="image/png,image/jpeg,image/jpg" />
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                </div>
                <div class="col-lg-6 px-4">
                    <div class="col-md-12 mb-3">
                        <label for="form-street" class="form-label">Ulica</label>
                        <input type="text" name="restaurant-street" class="form-control {{form.v_street.bts_class}}"
                            value="{{form.v_street.value}}" placeholder="np. Długa" id="form-street">
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="form-building-no" class="form-label">Nr budynku</label>
                            <input id="form-building-no" type="text" name="restaurant-building-no" placeholder="np. 65"
                                class="form-control {{form.v_building_no.bts_class}}"
                                value="{{form.v_building_no.value}}">
                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="form-post-code" class="form-label">Kod pocztowy</label>
                            <input id="form-post-code" type="text" name="restaurant-post-code" placeholder="np. 43-100"
                                class="form-control {{form.v_post_code.bts_class}}" value="{{form.v_post_code.value}}">
                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <label for="form-city" class="form-label">Miasto</label>
                        <input id="form-city" type="text" name="restaurant-city" placeholder="np. Gliwice"
                            class="form-control {{form.v_city.bts_class}}" value="{{form.v_city.value}}">
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                    <button type="submit" name="restaurant-button" class="btn btn-primary btn-md w-100 py-2 col-md-6">
                        {{add_edit_text}} restaurację
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
