{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    {{#data.one_order}}
    <div class="container-flex m-3 mx-5 border border-2 rounded-3">
        <div class="row mx-5">
            <div class="col-md-3">
                <h6 class="fw-bold pt-2">Dane odbiorcy:</h6>
                <hr class="mb-3"/>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Imię:</p>
                    <p class="text-dark fs-6 lh-sm">{{first_name}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Nazwisko:</p>
                    <p class="text-dark fs-6 lh-sm">{{last_name}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Email:</p>
                    <p class="text-dark fs-6 lh-sm">{{email}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="fw-bold pt-2">Adres wysyłki:</h6>
                <hr class="mb-3"/>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Miejscowość:</p>
                    <p class="text-dark fs-6 lh-sm">{{city}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Ulica:</p>
                    <p class="text-dark fs-6 lh-sm">{{street}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Nr budynku/lokalu:</p>
                    <p class="text-dark fs-6 lh-sm">{{building_nr}}/{{locale_nr}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Kod pocztowy:</p>
                    <p class="text-dark fs-6 lh-sm">{{post_code}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="fw-bold pt-2">Informacje dodatkowe:</h6>
                <hr class="mb-3"/>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Status zamówienia:</p>
                    <p class="text-dark fs-6 lh-sm">{{status_name}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Dostawa:</p>
                    <p class="text-dark fs-6 lh-sm">{{order_type}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Kupon:</p>
                    {{#discount_id}}
                    <p class="text-dark fs-6 lh-sm">Użyty</p>
                    {{/discount_id}}
                    {{^discount_id}}
                    <p class="text-dark fs-6 lh-sm">Brak</p>
                    {{/discount_id}}
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Data zamówienia:</p>
                    <p class="text-dark fs-6 lh-sm">{{date_order}}</p>
                </div>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">Data odbioru:</p>
                    <p class="text-dark fs-6 lh-sm">17:08 05.11.2022</p>
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="fw-bold pt-2">Zamówione produkty:</h6>
                <hr class="mb-3"/>
                <div class="my-4">
                    <p class="text-secondary lh-sm mb-1">2 szt.:</p>
                    <p class="text-dark fs-6 lh-sm">ziemniak</p>
                </div>
            </div>
        </div>
        <div class="row mx-5 text-center">
            <div class="col mx-5 mb-3">
                <a type="button" href="{{base_dir}}user/orders" class="btn btn-secondary">Powrót do lisy zamówień</a>
            </div>
            {{#data.validation}}
            <div class="col mx-5 mb-3">
                <a type="button" href="{{base_dir}}user/orders/cancel-order?id={{id}}" name="cancel" class="btn btn-danger">
                    Anuluj zamówienie
                </a>
            </div>
            {{/data.validation}}
        </div>
    </div>
    {{/data.one_order}}
</main>
{{> partials/footer-view.partial }}
