{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    {{> partials/dynamic-banner-view.partial}}
    <div class="row mt-3">
        <form class="col-lg-8" action="" method="post" novalidate>
            <div class="card p-3 mb-3">
                <h2 class="fs-4 mb-4">Dostawa</h2>
                <div class="container overflow-hidden text-start">
                    <div class="row gy-3">
                        {{#data.adres}}
                        <label for="user-address-{{id}}" class="col-lg-6">
                            <div class="card-body card">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="address" id="user-address-{{id}}" {{checked}}>
                                    <p class="card-text">{{address}} </p>
                                    <p class="card-text">{{post_city}}</p>
                                </div>
                            </div>
                        </label>
                        {{/data.adres}}
                    </div>
                </div>
            </div>
            <div class="card p-3 mb-3">
                <div class="card-body py-2">
                    <h2 class="fs-4 mb-4">Dostawa</h2>
                    <div class="row">
                        <label class="card mb-3" for="form-delivery-self">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="delivery" id="form-delivery-self">
                                    <span class="form-check-label ms-2" >Odbiór osobisty</span>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="row">
                        <label class="card" for="form-delivery-standard">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="delivery" id="form-delivery-standard" checked>
                                    <spab class="form-check-label ms-2" >Dostawa kurierem</spab>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card p-3 mb-4">
                <div class="card-body py-2">
                    <h2 class="fs-4 mb-4">Rodzaj płatności</h2>
                    <div class="row">
                        <label class="card"  for="form-payment-type">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="payment-type" id="form-payment-type" disabled checked>
                                    <span class="form-check-label ms-2">Odbiór osobisty</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-4 mb-4">
            <div class="sticky-top panel-left-nav">
                <a data-bs-toggle="modal" data-bs-target="#discount-code" class="btn btn-primary mb-3 w-100" type="button">Dodaj kupon</a>
                <ul class="card list-unstyled p-3">
                    {{#data.shopping_cart}}
                    <li>
                        <div class="rows">
                            <div class="col mb-2 hstack justify-content-between align-items-start">
                                <h4 class="card-title fs-5 mb-0">{{cart_dishes.name}}</h4>
                                <p class="m-0">{{cart_dishes.total_dish_cost}} zł </p>
                            </div>
                            <div class="col mb-2 hstack justify-content-between align-items-start">
                                <p type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                                    data-bs-title="{{cart_dishes.description}}"
                                    class="text-secondary text-truncate fw-normal fs-6 me-5">
                                    {{cart_dishes.description}}
                                </p>
                            </div>
                        </div>
                    </li>
                    <hr class="my-3" />
                    {{/data.shopping_cart}}
                    {{#data.not_enough_total_sum}}
                    <li class="alert alert-warning p-2 lh-sm mb-2 px-3" role="alert">
                        Do minimalnej wartości zamówienia brakuje jeszcze: <strong>{{data.diff_not_enough}} zł</strong>.
                    </li>
                    <li class="mt-0 text-secondary fw-normal small-font mb-3 lh-sm">
                        Niestety nie możesz jeszcze zamówić. Restauracja <strong>{{data.res_name}}</strong> ustawiła
                        wartość minimalnego
                        zamówienia na <strong>{{data.res_details.min_price}} zł</strong> (bez kosztów dostawy).
                    </li>
                    {{/data.not_enough_total_sum}}
                    <li>
                        {{#data.summary_prices.saving}}
                        <div class="d-flex justify-content-between mb-1 text-success">
                            <p class="mb-0">Oszczędzasz</p>
                            <p class="mb-0">{{data.summary_prices.saving}} zł</p>
                        </div>
                        {{/data.summary_prices.saving}}
                        <div class="d-flex justify-content-between mb-1">
                            <p class="mb-0">Razem</p>
                            <p class="mb-0">{{data.summary_prices.total}} zł</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="mb-0">Koszt dostawy</p>
                            <p class="mb-0">{{data.summary_prices.delivery_price}} zł</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0 fw-bold">Kwota całkowita</p>
                            <p class="mb-0 fw-bold">{{data.summary_prices.total_with_delivery}} zł</p>
                        </div>
                    </li>
                </ul>
                {{#data.codeName}}
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center justify-content-between" id="newsHeading">
                        <h6 class="fs-6 mb-0 text-start float-start">Kod rabatowy:</h6>
                        <div class="d-flex align-items-center">
                            <h6 class="fs-6 mb-0 text-success me-2">{{data.codeName}}</h6>
                            <a href="{{base_dir}}user/discount-code/delete?resid={{data.resid}}" class="btn-close js-close" aria-label="Close">
                            </a>
                        </div>
                    </div>
                </div>
                {{/data.codeName}}
                {{#data.not_enough_total_sum}}
                <a href="{{base_dir}}restaurants/restaurant-details?id={{data.resid}}"
                    class="btn btn-secondary w-100 disabled">
                    Zbyt niska wartość ({{data.summary_prices.total_with_delivery}} zł)
                </a>
                {{/data.not_enough_total_sum}}
                {{^data.not_enough_total_sum}}
                <a href="{{base_dir}}user/orders/order-summary?resid={{data.resid}}" class="btn btn-primary w-100">
                    Złóż zamówienie ({{data.summary_prices.total_with_delivery}} zł)
                </a>
                {{/data.not_enough_total_sum}}
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="discount-code" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Kod rabatowy</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{base_dir}}user/discount-code/add?resid={{data.resid}}" method="post" class="modal-body">
                <div class="mb-3">
                    <label for="example" class="form-label">Kod rabatowy</label>
                    <input type="discound" name="discount" class="form-control" id="exampleInput1" aria-describedby=""
                        placeholder="Podaj kod promocyjny">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" name="discount-button"
                        data-bs-dismiss="modal">Aktywuj</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> partials/footer-view.partial }}
