{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    {{> partials/dynamic-banner-view.partial}}
    to jest wewnętrzny kontent strony dla profilu użytkownika<br>
    <a href="{{base_dir}}user/profile/edit-profile">Edytuj profil użytkownika</a>
    <a href="{{base_dir}}user/profile/add-new-address">Dodaj nowy adres użytkownika</a>
</main>
{{> partials/footer-view.partial }}
