{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    to jest wewnętrzny kontent strony dla ustawień użytkownika
</main>
{{> partials/footer-view.partial }}
