{{> partials/header-view.partial }}
<main class="container-lg flex-grow-1 top-margin-header">
    <div class="container-flex m-3 mx-5 border border-2 rounded-3">
        <div class="row mx-5">
            <div class="col mx-5">
                <p class="fw-bold pt-2">Dane odbiorcy:</p>
                <p class=""><u>Imię</u>: Janusz</p>
                <p class=""><u>Nazwisko</u>: Kowalski</p>
                <p class=""><u>Email</u>: test@test.com</p>
                <p class=""><u>Nr tele</u>: 123456789</p>
                <p class=""><u>Nazwa firmy</u>: brak</p>
            </div>
            <div class="col mx-5">
                <p class="fw-bold pt-2">Adres wysyłki:</p>
                <p class=""><u>Miejscowość</u>: Gliwice</p>
                <p class=""><u>Ulica</u>: Szybka</p>
                <p class=""><u>Nr budynku/lokalu</u>: 33/22b</p>
                <p class=""><u>Kod pocztowy</u>: 43-300</p>
            </div>
            <div class="col mx-5">
                <p class="fw-bold pt-2">Informacje dodatkowe:</p>
                <p class=""><u>Status płatności</u>: nieopłacone</p>
                <p class=""><u>Metoda płatności</u>: gotówką</p>
                <p class=""><u>Data zamówienia</u>: 17:08 05.11.2022</p>
            </div>
            <div class="col mx-5">
                <p class="fw-bold pt-2">Zamówione produkty:</p>
                <p class=""><u>2 szt.</u>: ziemniak</p>
                <p class=""><u>1 szt.</u>: fryty</p>
            </div>
        </div>
        <div class="row mx-5 text-center">
            <div class="col mx-5 mb-2">
                <button type="button" class="btn btn-secondary">Powrót do strony głównej</button>
            </div>
            <div class="col mx-5 mb-2">
                <button type="button" class="btn btn-danger">Anuluj zamówienie</button>
            </div>
        </div>
    </div>
</main>
{{> partials/footer-view.partial }}
