{{> partials/header-view.partial }}
{{#logout_modal_visible}}
    {{> partials/logout-modal-view.partial }}
{{/logout_modal_visible}}

<h1>Strona Startowa!</h1>

<a href="{{base_path}}auth/login">logowanie</a>
<a href="{{base_path}}auth/register">rejestracja</a>
<a href="{{base_path}}admin/panel/dashboard">panel administratora</a>
<a href="{{base_path}}restaurant/panel/dashboard">panel restauratora</a>
<a href="{{base_path}}main/panel/restaurants/list">lista restauracji</a>

{{> partials/footer-view.partial }}
