{{> partials/header-view.partial }}

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100 registration-box">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3 class="fw-normal mb-5 registration-heading">Rejestracja</h3>

                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <input type="text" id="form3Examplev2"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplev2">Imie</label>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <input type="text" id="form3Examplev3"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplev3">Nazwisko</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplev4"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplev4">Login</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-4 pb-2">

                                            <div class="form-outline">
                                                <input type="text" id="form3Examplev4"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplev4">Hasło</label>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="mb-4">
                                        <div class="form-outline form-white">
                                            <input type="text" id="form3Examplea9"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea9">Adres E-mail</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 bg-indigo text-black">
                                <div class="p-5">

                                    <div class="mb-4 pb-2">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Wybierz uprawnienia</option>
                                            <option value="1">Użytkownik</option>
                                            <option value="2">Restaurator</option>
                                        </select>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <input type="text" id="form3Examplea3"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea3">NrBudynku(+ ew.
                                                lokal)</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea4"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea4">Kod pocztowy</label>
                                            </div>

                                        </div>
                                        <div class="col-md-7 mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea5"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea5">Miejscowość</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <input type="text" id="form3Examplea3"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea3">Ulica</label>
                                        </div>
                                    </div>


                                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                        <input class="form-check-input me-3" type="checkbox" value=""
                                            id="form2Example3c" />
                                        <label class="form-check-label text-black" for="form2Example3">
                                            Akceptuje <a href="#!" class="text-black"><u>Regulamin</u></a>
                                        </label>
                                    </div>

                                    <button type="button" class="btn btn-dark btn-lg registration-button-"
                                        data-mdb-ripple-color="dark">Zarejestruj</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> partials/footer-view.partial }}
