{{> partials/header-view.partial }}

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100 registration-box">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <form class="row g-3">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5 registration-heading">Rejestracja</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="validationServer01" class="form-label">Imie</label>
                                                <input type="text" class="form-control is-valid" id="validationServer01"
                                                    required>
                                                <div class="valid-feedback">Wygląda dobrze!</div>
                                            </div>

                                            <div class="col-md-6 mb-2 pb-2">
                                                <label for="validationServer01" class="form-label">Nazwisko</label>
                                                <input type="text" class="form-control is-valid" id="validationServer01"
                                                    required>
                                                <div class="valid-feedback">Wygląda dobrze!</div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-2 ">
                                            <label for="validationServer03" class="form-label">Login</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer03"
                                                aria-describedby="validationServer03Feedback" required>
                                            <div id="validationServer03Feedback" class="invalid-feedback">Podaj hasło!
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-2 ">
                                            <label for="validationServer03" class="form-label">Hasło</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer03"
                                                aria-describedby="validationServer03Feedback" required>
                                            <div id="validationServer03Feedback" class="invalid-feedback">Podaj login!
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="validationServer03" class="form-label">Adres E-mail</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer03"
                                                aria-describedby="validationServer03Feedback" required>
                                            <div id="validationServer03Feedback" class="invalid-feedback">Podaj adres
                                                E-mail!</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-4">
                                            <label for="validationServer03" class="form-label">Wybierz typ konta</label>
                                            <select class="form-select registration-form-select"
                                                aria-label="Default select example">
                                                <option value="1">Klient</option>
                                                <option value="2">Restaurator</option>
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="validationServer03"
                                                class="form-label">NrBudynku/NrLokalu</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer03"
                                                aria-describedby="validationServer03Feedback" required>
                                            <div id="validationServer03Feedback" class="invalid-feedback">Podaj adres!
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="validationServer01" class="form-label">Kod pocztowy</label>
                                                <input type="text" class="form-control is-invalid"
                                                    id="validationServer01" required>
                                                <div id="validationServer03Feedback" class="invalid-feedback">Podaj kod
                                                    pocztowy!
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-2 pb-2">
                                                <label for="validationServer01" class="form-label">Miasto</label>
                                                <input type="text" class="form-control is-invalid"
                                                    id="validationServer01" required>
                                                <div id="validationServer03Feedback" class="invalid-feedback">Podaj
                                                    miasto!
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-5 ">
                                            <label for="validationServer03" class="form-label">Ulica</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer03"
                                                aria-describedby="validationServer03Feedback" required>
                                            <div id="validationServer03Feedback" class="invalid-feedback">Podaj ulice!
                                            </div>
                                        </div>

                                        <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="form2Example3c" />
                                            <label class="form-check-label text-black" for="form2Example3">
                                                Akceptuje <a href="#!" class="text-black"><u>Regulamin</u></a>
                                            </label>
                                        </div>

                                        <button type="button" class="btn btn-dark btn-lg registration-button"
                                            data-mdb-ripple-color="dark">Zarejestruj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>

{{> partials/footer-view.partial }}
