{{> partials/header-view.partial }}
<div class="d-flex flex-column justify-content-center container flex-grow-1">
    <div class="row d-flex justify-content-center align-items-center media-form-size-box mx-auto">
        {{#show_banner}}
        <div class="alert {{banner_class}} mb-3 alert-dismissible fade show" role="alert">
            {{{form.banner_message}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/show_banner}}
        <div class="card rounded-3 custom-card-padding">
            <form class="mb-5" action="" method="post" novalidate>
                <h3 class="fw-normal mb-5 text-secondary">Logowanie</h3>
                <div class="col-md-12 mb-4">
                    <label for="form-login" class="form-label">Login lub adres email</label>
                    <input type="text" name="login_email" value="{{form.v_loginemail.value}}"
                        placeholder="Podaj login lub adres e-mail" class="form-control {{form.v_loginemail.bts_class}}"
                        id="form-login">
                    <div class="invalid-feedback">Podaj prawidłową wartość!</div>
                </div>
                <div class="col-md-12 mb-4">
                    <label for="form-pass" class="form-label">Hasło</label>
                    <div class="input-group has-validation">
                        <input type="password" name="pass" placeholder="Podaj hasło"
                            class="form-control {{form.v_password.bts_class}}" id="form-pass">
                        <button type="button" class="input-group-text password-input-toggler">
                            <span class="material-symbols-outlined">visibility</span>
                        </button>
                        <div class="invalid-feedback">Podaj prawidłową wartość!</div>
                    </div>
                </div>
                <button type="submit" name="form-login" class="btn btn-primary btn-md w-100 py-2">Zaloguj</button>
            </form>
            <div class="d-flex justify-content-center align-items-center">
                <a class="pe-3 text-muted" href="index.php?action=auth/register">Nie mam jeszcze konta</a>
                &#9642;
                <a class="ps-3 text-muted" href="index.php?action=auth/password/renew/request">Zapomniałem hasła</a>
            </div>
        </div>
    </div>
</div>
{{> partials/footer-view.partial }}
