<div class="d-flex flex-column justify-content-center container flex-grow-1">
    <div class="row d-flex justify-content-center align-items-center w-100 mx-auto media-small-form-size-box">
        {{#form.show_banner}}
        <div class="alert {{form.banner_class}} mt-3 mb-0 alert-dismissible fade show" role="alert">
            {{{form.banner_message}}}
        </div>
        {{/form.show_banner}}
        {{#form.show_change_password}}
        <div class="card my-3 rounded-3 p-4">
            <form action="" method="post" novalidate>
                <h3 class="fw-normal mb-4 text-secondary text-center">Wprowadź nowe hasło</h3>
                <hr class="mb-4">
                <div class="col-md-12 mb-3">
                    <label for="form-password" class="form-label">Nowe hasło:</label>
                    <div class="input-group has-validation">
                        <input type="password" name="change-password" class="form-control {{form.v_password.bts_class}}"
                            id="form-password">
                        <button type="button" class="input-group-text password-input-toggler">
                            <i class="bi bi-eye-fill"></i>
                        </button>
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="form-password" class="form-label">Potwierdź nowe hasło:</label>
                    <div class="input-group has-validation">
                        <input type="password" name="change-password-rep" class="form-control {{form.v_password_rep.bts_class}}"
                            id="form-password">
                        <button type="button" class="input-group-text password-input-toggler">
                            <i class="bi bi-eye-fill"></i>
                        </button>
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                </div>
                <button type="submit" name="form-send-change-pass" class="btn btn-primary btn-md w-100">Zmień hasło</button>
                <hr class="mb-4">
                <div class="col-md-12 text-secondary fw-normal lh-sm">
                    Hasło musi spełniać następujące kryteria:
                    <ul>
                        <li>minimum 8 znaków</li>
                        <li>przynajmniej jedna wielka i mała litera</li>
                        <li>przynajmniej jedna cyfra</li>
                        <li>przynajmniej jeden znak specjalny: #?!@$%^&*</li>
                    </ul>
                </div>
            </form>
        </div>
        {{/form.show_change_password}}
    </div>
</div>
{{> partials/footer-view.partial }}
