{{> partials/header-view.partial }}

<section class="h-100 h-custom">
    <div class="container py-5 h-100 registration-box">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-6">
                <form class="row g-3" action="" method="post" novalidate>
                    {{#show_banner}}
                        <div class="alert {{banner_class}} mb-0" role="alert">
                            {{{form.banner_message}}}
                        </div>
                    {{/show_banner}}
                    {{#form.show_change_password}}
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-4 registration-heading">Wprowadź nowe hasło</h3>
                                        
                                        <div class="col-md-12 mb-3">
                                            <label for="form-password" class="form-label">Hasło</label>
                                            <input type="text" name="change-password" class="form-control {{form.v_password.bts_class}}" id="form-password">
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="form-password" class="form-label">Potwierdź hasło</label>
                                            <input type="text" name="change-password-rep" class="form-control {{form.v_password_rep.bts_class}}" id="form-password">
                                            <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                                        </div>

                                        <button type="submit" name="form-send-change-pass" class="btn btn-dark btn-md">Zmień hasło</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/form.show_change_password}}
                </form>
            </div>
        </div>
    </div>
    </form>
    </div>
    </div>
</section>

{{> partials/footer-view.partial }}
