{{> partials/header-view.partial }}
<div class="d-flex flex-column justify-content-center container flex-grow-1 top-margin-header mb-5">
    <div class="row d-flex justify-content-center align-items-center w-100 mx-auto media-small-form-size-box">
        {{#banner.show_banner}}
        <div class="alert {{banner.banner_class}} mt-3 mb-0 alert-dismissible fade show" role="alert">
            {{{banner.banner_message}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/banner.show_banner}}
        <div class="card rounded-3 p-4 my-3">
            <form action="" method="post" novalidate>
                <h3 class="fw-normal mb-4 text-center text-secondary">Resetuj hasło</h3>
                <hr class="mb-4">
                <p class="text-secondary fw-normal mb-4">
                    Aby zresetować hasło, wprowadź w poniższym polu adres email lub login przypisany do Twojego konta.
                    Po kliknięciu, na adres email powiązany z kontem przyjdzie link aktywacyjny.
                </p>
                <hr class="mb-4">
                <div class="col-md-12 mb-3">
                    <label for="form-login" class="form-label">Login/adres email:</label>
                    <input type="text" name="login_email" value="{{form.v_login_email.value}}" placeholder="Podaj login lub adres e-mail"
                        class="form-control {{form.v_login_email.bts_class}}" id="form-login" required>
                    <div class="invalid-feedback">Podaj prawidłową wartość!</div>
                </div>
                <button type="submit" name="form-send-request-change-pass" class="btn btn-primary btn-md w-100">
                    Resetuj hasło
                </button>
            </form>
        </div>
    </div>
</div>
{{> partials/footer-view.partial }}
