{{> partials/header-view.partial }}
<div class="d-flex flex-column justify-content-center container flex-grow-1">
    <div class="row d-flex justify-content-center align-items-center media-form-size-box mx-auto">
        {{#show_banner}}
        <div class="alert {{banner_class}} mb-3 alert-dismissible fade show" role="alert">
            {{{form.banner_message}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/show_banner}}
        <div class="card rounded-3 custom-card-padding">
            <form action="" method="post" novalidate>
                <h3 class="fw-normal mb-4 text-secondary">Resetuj hasło</h3>
                <p class="text-secondary fw-light mb-4">
                    Aby zresetować hasło, wprowadź w poniższym polu adres email lub login przypisany do Twojego konta.
                    Po kliknięciu, na adres email powiązany z kontem przyjdzie link aktywacyjny.
                </p>
                <div class="col-md-12 mb-4">
                    <label for="form-login" class="form-label">Login lub adres email</label>
                    <input type="text" name="login_email" value="{{form.v_login_email.value}}" placeholder="Podaj login lub adres e-mail"
                        class="form-control {{form.v_login_email.bts_class}}" id="form-login" required>
                    <div class="invalid-feedback">Podaj prawidłową wartość!</div>
                </div>
                <button type="submit" name="form-send-request-change-pass" class="btn btn-dark btn-md w-100 py-2 app-primary-button">
                    Resetuj hasło
                </button>
            </form>
        </div>
    </div>
</div>
{{> partials/footer-view.partial }}
