{{> partials/header-view.partial }}
<div class="d-flex flex-column justify-content-center container flex-grow-1">
    <div class="row d-flex justify-content-center align-items-center media-form-size-box mx-auto">
        {{#show_banner}}
        <div class="alert {{banner_class}} mb-3" role="alert">
            {{{form.banner_message}}}
        </div>
        {{/show_banner}}
        {{#form.show_change_password}}
        <div class="card rounded-3 custom-card-padding">
            <form action="" method="post" novalidate>
                <h3 class="fw-normal mb-5 text-secondary">Wprowadź nowe hasło</h3>
                <div class="col-md-12 mb-3">
                    <label for="form-password" class="form-label">Hasło</label>
                    <div class="input-group has-validation">
                        <input type="password" name="change-password" class="form-control {{form.v_password.bts_class}}"
                            id="form-password" placeholder="minimum 8 znaków">
                        <button type="button" class="input-group-text password-input-toggler">
                            <span class="material-symbols-outlined">visibility</span>
                        </button>
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <label for="form-password" class="form-label">Potwierdź hasło</label>
                    <div class="input-group has-validation">
                        <input type="password" name="change-password-rep" class="form-control {{form.v_password_rep.bts_class}}"
                            id="form-password" placeholder="minimum 8 znaków">
                        <button type="button" class="input-group-text password-input-toggler">
                            <span class="material-symbols-outlined">visibility</span>
                        </button>
                        <div class="invalid-feedback">Nieprawidłowa wartość!</div>
                    </div>
                </div>
                <button type="submit" name="form-send-change-pass" class="btn btn-dark btn-md w-100 py-2 app-primary-button">
                    Zmień hasło
                </button>
            </form>
        </div>
        {{/form.show_change_password}}
    </div>
</div>
{{> partials/footer-view.partial }}
