name: Create Docker image and send to Dockerhub

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/docker-image.yml"
      - "docker/**"
      - "!docker/*.md"
      - "public/**"
      - "src/**"
      - ".htaccess"
      - "Dockerfile"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up builder
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: milosz08/food-ordering-web-app:latest
